html{
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.clearfix {
    overflow: auto;
}
:root {
    --primaryColor: #039c9c;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #faf9f8;
}
html,body,h1,h2,h3,h4,h5,h6,li,td,p,a,th,input {
    font-family: 'Almarai', sans-serif;
} 
html,body,div,span,h1,h2,h3,h4,h5,h6,p,object,iframe,
blockquote, pre, sub, sup, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,small,strong,var,b,i,dl,dt,
dd,ol, ul,li, fieldset, form, label, legend, table,
caption,tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu,nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    background-color: #0a0a0a;
}
.mainwrapper {
    background-color: #0a0a0a;
}
.mainwrapper .topHeader{
    background-color: #0a0a0a;
}
.mainwrapper .topHeader .logo {
    width: 120px;
}
.mainwrapper .munuList  {
    background-color: #222;
}
.champions{
    background: linear-gradient(0.25turn, #3f87a6, #96da62, #f69d3c);
}
.champions div div ul li,
.news div ul li{
    background: transparent;
}
.colored {
    color: lightgreen;
}